*{
    padding:0%;
    margin:0%;
    font-size:15pt;
    font-family: Arial, Helvetica, sans-serif;
}

#somador{
    background-color:rgba(133, 0, 167, 0.719); 
    position:absolute; 
    transform: translate(-50%,-50%); 
    top:45%; 
    left:50%; 
    border-radius:15px; 
    padding:15px; 
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.664); 
    color: black;
}

#res{
    background-color:rgba(133, 0, 167, 0.719); 
    position:absolute; 
    transform: translate(-50%,-50%); 
    top:300%; 
    left:50%; 
    border-radius:15px; 
    padding:15px; 
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.664); 
    color: white;
}

body{
    background-image:linear-gradient(55deg,rgb(43, 10, 48),rgb(116, 13, 175));
    height:100vh; 
}

#botao{
    border-radius: 10px;
    color: white;
    background-color: black;
}

.btn{
    color: white;
    font-size:10pt;
    background-color: blueviolet;
    border-color: rgb(90, 1, 179);
    font-family:Arial, Helvetica, sans-serif;
}

#titulo{
    color: white;
    text-align: center;
    padding:52px;
}
